.Form {
    padding-top: 5rem;
}

.alert {
    margin: 1rem;
}

.form-label {
    margin: 0.5rem;
}
.form-control {
    width: 200px;
    display: inline-block;
}

#message {
    display: block;
    width: 100%;
}